@charset "UTF-8";
/*------------ media query --------------- */
@media only screen and (max-width: 768px) {
  #header {
    padding-top: 5px;
    padding-bottom: 0; }
  #logo {
    text-align: left; }
  button#responsive-menu-button {
    border-radius: 25px; }
  #responsive-menu-container {
    border-right: 1px solid #990000; }
  /* --  ヘッダー -- */
  #header-responsive select {
    background: #990000;
    border-color: #990000; }
  /*お問い合わせボタン*/
  a.inquiry-btn {
    width: 100%; }
  #slider {
    height: 35.09vw; }
    #slider .featured-title span {
      font-size: 16px; }
    #slider .featured {
      /*vertical-align: top;*/
      padding-top: 10px; }
  /* -- TOPページ -- */
  .top-page {
    /* -- イベントリストエリア -- */
    /* -- お知らせエリア -- */
    /* -- コース -- */
    /* --  アクセス -- */ }
    .top-page .event-list-area ul.event-list {
      flex-direction: column; }
      .top-page .event-list-area ul.event-list li {
        flex: 0 0 auto;
        padding: 0 5px;
        margin-bottom: 20px; }
        .top-page .event-list-area ul.event-list li a.img-wrapper {
          width: 80vw;
          height: 44.52vw;
          margin: 10px auto; }
          .top-page .event-list-area ul.event-list li a.img-wrapper img {
            max-width: 80vw;
            max-height: 44.52vw; }
        .top-page .event-list-area ul.event-list li .title {
          width: 80vw;
          margin: 0 auto; }
    .top-page .whats-new-area #npcatch {
      flex-direction: column; }
      .top-page .whats-new-area #npcatch li {
        flex: 0 0 auto;
        padding: 0 5px;
        margin-bottom: 20px; }
        .top-page .whats-new-area #npcatch li a.img-wrapper {
          width: 80vw;
          height: 44.52vw;
          margin: 10px auto; }
          .top-page .whats-new-area #npcatch li a.img-wrapper img {
            max-width: 80vw;
            max-height: 44.52vw; }
        .top-page .whats-new-area #npcatch li .title {
          width: 80vw;
          margin: 0 auto; }
    .top-page .schools {
      flex-direction: column; }
      .top-page .schools .school {
        flex: 0 0 100%;
        margin: 0 0 40px; }
        .top-page .schools .school .school-info {
          margin: 0;
          padding: 32px 10px 0; }
    .top-page .access .access-info {
      width: 100%;
      display: block;
      padding: 0 4px; }
    .top-page .access #access-map {
      width: 100%;
      height: 180px;
      display: block; }
  /* -- TOPページここまで -- */
  /* -- 教室のページ -- */
  .school-page {
    /* -- スケジュール表 -- */
    /* -- 料金表 -- */ }
    .school-page .school .section .info {
      padding: 0; }
    .school-page .schedule-table tr td {
      padding: 0.5em;
      text-align: left; }
      .school-page .schedule-table tr td.column-1 {
        padding: 0.5em;
        text-align: left; }
    .school-page .price-table tr td {
      padding: 0.5em;
      text-align: left; }
      .school-page .price-table tr td.column-1 {
        padding: 0.5em;
        text-align: left;
        width: 50%; }
    .school-page .access .info {
      flex-direction: column; }
      .school-page .access .info > div {
        flex: 0 0 100%; }
      .school-page .access .info .access-info {
        padding: 0;
        margin-bottom: 10px; }
  /* -- 教室のページここまで -- */
  /* -- 教室のページ -- */
  .course-page {
    width: 100%;
    /* -- スケジュール表 -- */
    /* -- 料金表 -- */
    /* -- イベントリストエリア -- */ }
    .course-page .summary-section ul {
      flex-direction: column; }
      .course-page .summary-section ul li {
        flex: 1 1 auto;
        margin: 0 0 14px 0; }
    .course-page .school .section .info {
      padding: 0; }
    .course-page .schedule-table tr td {
      padding: 0.5em;
      text-align: left; }
      .course-page .schedule-table tr td.column-1 {
        padding: 0.5em;
        text-align: left; }
    .course-page .price-table tr td {
      padding: 0.5em;
      text-align: left; }
      .course-page .price-table tr td.column-1 {
        padding: 0.5em;
        text-align: left;
        width: 50%; }
    .course-page .access .info {
      flex-direction: column; }
      .course-page .access .info > div {
        flex: 0 0 100%; }
      .course-page .access .info .access-info {
        padding: 0;
        margin-bottom: 10px; }
    .course-page .event-list-area ul.event-list {
      flex-direction: column; }
      .course-page .event-list-area ul.event-list li {
        flex: 0 0 auto;
        padding: 0 5px;
        margin-bottom: 20px; }
        .course-page .event-list-area ul.event-list li a.img-wrapper {
          width: 80vw;
          height: 44.52vw;
          margin: 10px auto; }
          .course-page .event-list-area ul.event-list li a.img-wrapper img {
            max-width: 80vw;
            max-height: 44.52vw; }
        .course-page .event-list-area ul.event-list li .title {
          width: 80vw;
          margin: 0 auto; }
  /* -- 教室のページここまで -- */
  /* -- 講師 -- */
  .staff-page .staff .prof-img {
    float: none;
    width: 200px;
    margin: 0 auto; }
    .staff-page .staff .prof-img img {
      width: 100%;
      border-radius: 100px; }
  .staff-page .staff .desc-wrapper {
    float: none;
    width: 100%;
    margin-left: 0px; }
    .staff-page .staff .desc-wrapper .desc {
      margin-left: 0px;
      padding-top: 0px;
      padding-left: 0px; }
  /* -- 講師ここまで -- */
  /* -- 学習内容のページ -- */
  .what-to-learn-page .section .step-desc {
    flex-direction: column; }
    .what-to-learn-page .section .step-desc > div.img-wrapper {
      flex: 0 0 100%; }
      .what-to-learn-page .section .step-desc > div.img-wrapper img {
        display: block;
        max-width: 80%;
        margin: 0 auto 10px; }
  /* -- 学習内容のページここまで -- */
  /* -- サマースクールページ -- */
  .summer-lp-page .title_top h1 {
    line-height: 1.2; }
  .summer-lp-page .courses .course .description {
    flex-direction: column; }
    .summer-lp-page .courses .course .description .img-wrapper {
      flex: 0 0 auto;
      margin-bottom: 16px; }
    .summer-lp-page .courses .course .description .detail {
      padding: 0; }
  .summer-lp-page .contact {
    text-align: center; }
    .summer-lp-page .contact .mail {
      width: 90%;
      font-size: 100%;
      font-weight: bold;
      margin: 20px auto;
      padding: 14px 0px; }
  /* -- サマースクールページここまで -- */ }

@media only screen and (min-width: 769px) {
  br.sp-only {
    display: none; }
  #slider {
    max-height: 400px;
    height: 35.09vw; } }
