/*------------ media query --------------- */
@media only screen and (max-width: 768px) {
  #header {
    padding-top: 5px;
    padding-bottom: 0;
  }
  #logo {
    text-align: left;
  }
  button#responsive-menu-button {
    border-radius: 25px;
  }
  #responsive-menu-container {
    border-right: 1px solid #990000;
  }

  /* --  ヘッダー -- */
  #header-responsive select {
    background: #990000;
    border-color: #990000;
  }

  /*お問い合わせボタン*/
  a.inquiry-btn {
    width: 100%;
  }

  #slider {
    height: 35.09vw;
    .featured-title span {
      font-size: 16px;
    }
    .featured {
      /*vertical-align: top;*/
      padding-top: 10px;
    }
  }

  /* -- TOPページ -- */
  .top-page {
    /* -- イベントリストエリア -- */
    .event-list-area {
      ul.event-list {
        flex-direction: column;
        li {
          //flex: 0 0 80vw;
          flex: 0 0 auto;
          padding: 0 5px;
          margin-bottom: 20px;
          a.img-wrapper {
            width: 80vw;
            height: 44.52vw;
            margin: 10px auto;
            img {
              max-width: 80vw;
              max-height: 44.52vw;
            }
          }
          .title {
            width: 80vw;
            margin: 0 auto;
          }
        }

      }
    }

    /* -- お知らせエリア -- */
    .whats-new-area {
      #npcatch {
        flex-direction: column;
        li {
          //flex: 0 0 80vw;
          flex: 0 0 auto;
          padding: 0 5px;
          margin-bottom: 20px;
          a.img-wrapper {
            width: 80vw;
            height: 44.52vw;
            margin: 10px auto;
            img {
              max-width: 80vw;
              max-height: 44.52vw;
            }
          }
          .title {
            width: 80vw;
            margin: 0 auto;
          }
        }

      }
    }

    /* -- コース -- */
    .schools {
      flex-direction: column;
      .school {
        flex: 0 0 100%;
        margin: 0 0 40px;
        .school-info {
          margin: 0;
          padding: 32px 10px 0;
        }
      }
    }



    /* --  アクセス -- */
    .access {
      .access-info {
        width: 100%;
        display: block;
        padding: 0 4px;
      }
      #access-map {
        width: 100%;
        height: 180px;
        display: block
      }
    }
  }
  /* -- TOPページここまで -- */


  /* -- 教室のページ -- */
  .school-page {
    .school .section .info {
      padding: 0;
    }

    /* -- スケジュール表 -- */
    .schedule-table {
      tr {
        td {
          padding: 0.5em;
          text-align: left;
          &.column-1 {
            padding: 0.5em;
            text-align: left;
          }
        }
      }
    }

    /* -- 料金表 -- */
    .price-table {
      tr {
        td {
          padding: 0.5em;
          text-align: left;
          &.column-1 {
            padding: 0.5em;
            text-align: left;
            width: 50%;
          }
          &:last-child {
          }
        }
      }
    }

    .access {
      .info {
        flex-direction: column;

        & > div {
          flex: 0 0 100%;
        }

        .access-info {
          padding: 0;
          margin-bottom: 10px;
        }

      }
    }
  }
  /* -- 教室のページここまで -- */


  /* -- 教室のページ -- */
  .course-page {
    width: 100%;
    .summary-section{
      ul{
        flex-direction: column;
        li{
          flex: 1 1 auto;
          margin: 0 0 14px 0;
        }
      }
    }
    .school .section .info {
      padding: 0;
    }

    /* -- スケジュール表 -- */
    .schedule-table {
      tr {
        td {
          padding: 0.5em;
          text-align: left;
          &.column-1 {
            padding: 0.5em;
            text-align: left;
          }
        }
      }
    }

    /* -- 料金表 -- */
    .price-table {
      tr {
        td {
          padding: 0.5em;
          text-align: left;
          &.column-1 {
            padding: 0.5em;
            text-align: left;
            width: 50%;
          }
          &:last-child {
          }
        }
      }
    }

    .access {
      .info {
        flex-direction: column;

        & > div {
          flex: 0 0 100%;
        }

        .access-info {
          padding: 0;
          margin-bottom: 10px;
        }

      }
    }

    /* -- イベントリストエリア -- */
    .event-list-area {
      ul.event-list {
        flex-direction: column;
        li {
          //flex: 0 0 80vw;
          flex: 0 0 auto;
          padding: 0 5px;
          margin-bottom: 20px;
          a.img-wrapper {
            width: 80vw;
            height: 44.52vw;
            margin: 10px auto;
            img {
              max-width: 80vw;
              max-height: 44.52vw;
            }
          }
          .title {
            width: 80vw;
            margin: 0 auto;
          }
        }

      }
    }
  }
  /* -- 教室のページここまで -- */

  /* -- 講師 -- */
  .staff-page {
    .staff {
      .prof-img {
        float: none;
        width: 200px;
        margin: 0 auto;

        img {
          width: 100%;
          border-radius: 100px;
        }
      }

      .desc-wrapper {
        float: none;
        width: 100%;
        margin-left: 0px;
        .desc {
          margin-left: 0px;
          padding-top: 0px;
          padding-left: 0px;
        }
      }

    }

  }
  /* -- 講師ここまで -- */

  /* -- 学習内容のページ -- */
  .what-to-learn-page {
    .section {
      .step-desc {
        flex-direction: column;

        & > div.img-wrapper {
          flex: 0 0 100%;
          img {
            display: block;
            max-width: 80%;
            margin: 0 auto 10px;
          }
        }
      }
    }
  }
  /* -- 学習内容のページここまで -- */


  /* -- サマースクールページ -- */
  .summer-lp-page {
    .title_top {
      h1{
        line-height: 1.2;
      }
    }
    .courses{
      .course{
        .description{
          flex-direction: column;
          .img-wrapper{
            flex: 0 0 auto;
            margin-bottom: 16px;
          }
          .detail {
            padding: 0;
          }
        }
      }
    }
    .contact {
      text-align: center;

      .title {
      }
      .mail {
        width: 90%;
        font-size: 100%;
        font-weight: bold;
        margin: 20px auto;
        padding: 14px 0px;
      }

    }
  }
  /* -- サマースクールページここまで -- */

}

@media only screen and (min-width: 769px) {
  br.sp-only {
    display: none;
  }
  #slider {
    max-height: 400px;
    height: 35.09vw;
  }
}
